In [15]:
import pandas as pd


# autoreload modules when code is run
%load_ext autoreload
%autoreload 2

# local modules
import dataproject

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [16]:
# a. load PL data
pl = pd.read_csv('pl_all_seasons.csv')

# b. print PL data

print(pl)

print(pl.loc[:, 'FTR'])

# c. choose relevant data in df

df = pd.DataFrame(pl,  columns=['FTR', 'B365H', 'B365D', 'B365A'])

# d. add boolean of result Home, Draw, Away and then print df

df['H_true'] = df['FTR'].str.count("H")
df['D_true'] = df['FTR'].str.count("D")
df['A_true'] = df['FTR'].str.count("A")

print(df)

# e. multiply bolean of Draw (D_true) with B365 odds of draw to get each games return for you

return_D = ( df.loc[:, 'D_true'] * df.loc[:, 'B365D'] )

print(return_D)

# f. sum these individual returns to get you full season return

sum_return_D = return_D.sum()

print(sum_return_D)

#g. find the net return by subtracting the DKK 1 * 380 games = DKK 3800 you have betted during the season to find your gain/loss

net_return_D = sum_return_D - 3800

print(net_return_D)

#g. find the return in percentage by dividing you gain with the DKK 1 * 380 games = DKK 3800 you have betted during the season and subtract 1.

net_pct_returm_D = sum_return_D / 3800 - 1

print(net_pct_returm_D)

Div      Date     HomeTeam      AwayTeam  FTHG  FTAG FTR  HTHG  HTAG HTR  \
0     E0  15/08/09  Aston Villa         Wigan     0     2   A     0     1   A
1     E0  15/08/09    Blackburn      Man City     0     2   A     0     1   A
2     E0  15/08/09       Bolton    Sunderland     0     1   A     0     1   A
3     E0  15/08/09      Chelsea          Hull     2     1   H     1     1   D
4     E0  15/08/09      Everton       Arsenal     1     6   A     0     3   A
...   ..       ...          ...           ...   ...   ...  ..   ...   ...  ..
3795  E0  12/05/19    Liverpool        Wolves     2     0   H     1     0   H
3796  E0  12/05/19   Man United       Cardiff     0     2   A     0     1   A
3797  E0  12/05/19  Southampton  Huddersfield     1     1   D     1     0   H
3798  E0  12/05/19    Tottenham       Everton     2     2   D     1     0   H
3799  E0  12/05/19      Watford      West Ham     1     4   A     0     2   A

      ... BbMx>2.5  BbAv>2.5  BbMx<2.5  BbAv<2.5  BbAH  BbAHh  BbMxAHH  \
0     ...     2.04      1.92      1.91      1.81  21.0    0.0     1.28
1     ...     2.15      2.04      1.78      1.71  24.0    0.0     2.58
2     ...     2.25      2.12      1.70      1.66  23.0    0.0     1.68
3     ...     1.67      1.58      2.44      2.26  22.0    0.0     1.03
4     ...     2.20      2.06      1.77      1.70  24.0    0.0     2.27
...   ...      ...       ...       ...       ...   ...    ...      ...
3795  ...     9.48       NaN       NaN       NaN   NaN    NaN      NaN
3796  ...     9.71       NaN       NaN       NaN   NaN    NaN      NaN
3797  ...     8.49       NaN       NaN       NaN   NaN    NaN      NaN
3798  ...     4.15       NaN       NaN       NaN   NaN    NaN      NaN
3799  ...     3.41       NaN       NaN       NaN   NaN    NaN      NaN

      BbAvAHH  BbMxAHA  BbAvAHA
0        1.22     4.40     3.99
1        2.38     1.60     1.54
2        1.61     2.33     2.23
3        1.02    17.05    12.96
4        2.20     1.73     1.63
...       ...      ...      ...
3795      NaN      NaN      NaN
3796      NaN      NaN      NaN
3797      NaN      NaN      NaN
3798      NaN      NaN      NaN
3799      NaN      NaN      NaN

[3800 rows x 71 columns]
0       A
1       A
2       A
3       H
4       A
       ..
3795    H
3796    A
3797    D
3798    D
3799    A
Name: FTR, Length: 3800, dtype: object
     FTR  B365H  B365D  B365A  H_true  D_true  A_true
0      A   1.67   3.60   5.50       0       0       1
1      A   3.60   3.25   2.10       0       0       1
2      A   2.25   3.25   3.25       0       0       1
3      H   1.17   6.50  21.00       1       0       0
4      A   3.20   3.25   2.30       0       0       1
...   ..    ...    ...    ...     ...     ...     ...
3795   H   1.30   6.00  11.00       1       0       0
3796   A   1.28   6.50  11.00       0       0       1
3797   D   1.44   4.75   8.50       0       1       0
3798   D   2.20   3.50   3.50       0       1       0
3799   A   2.25   3.75   3.20       0       0       1

[3800 rows x 7 columns]
0       0.00
1       0.00
2       0.00
3       0.00
4       0.00
        ...
3795    0.00
3796    0.00
3797    4.75
3798    3.50
3799    0.00
Length: 3800, dtype: float64
3578.21
-221.78999999999996
-0.058365789473684204

In [17]:
# a. load PL data
pl = pd.read_csv('pl_all_seasons.csv')

# b. print PL data

print(pl)

print(pl.loc[:, 'FTR'])

# c. choose relevant data in df

df = pd.DataFrame(pl,  columns=['FTR', 'B365H', 'B365D', 'B365A'])

# d. add boolean of result Home, Draw, Away and then print df

df['H_true'] = df['FTR'].str.count("H")
df['D_true'] = df['FTR'].str.count("D")
df['A_true'] = df['FTR'].str.count("A")

print(df)

# e. multiply bolean of Draw (A_true) with B365 odds of draw to get each games return for you

return_A = ( df.loc[:, 'A_true'] * df.loc[:, 'B365A'] )

print(return_A)

# f. sum these individual returns to get you full season return

sum_return_A = return_A.sum()

print(sum_return_A)

#g. find the net return by subtracting the DKK 1 * 3800 games = DKK 3800 you have betted during the season to find your gain/loss

net_return_A = sum_return_A - 3800

print(net_return_A)

#g. find the return in percentage by dividing you gain with the DKK 1 * 3800 games = DKK 3800 you have betted during the season and subtract 1.

net_pct_returm_A = sum_return_A / 3800 - 1

print(net_pct_returm_A)

Div      Date     HomeTeam      AwayTeam  FTHG  FTAG FTR  HTHG  HTAG HTR  \
0     E0  15/08/09  Aston Villa         Wigan     0     2   A     0     1   A
1     E0  15/08/09    Blackburn      Man City     0     2   A     0     1   A
2     E0  15/08/09       Bolton    Sunderland     0     1   A     0     1   A
3     E0  15/08/09      Chelsea          Hull     2     1   H     1     1   D
4     E0  15/08/09      Everton       Arsenal     1     6   A     0     3   A
...   ..       ...          ...           ...   ...   ...  ..   ...   ...  ..
3795  E0  12/05/19    Liverpool        Wolves     2     0   H     1     0   H
3796  E0  12/05/19   Man United       Cardiff     0     2   A     0     1   A
3797  E0  12/05/19  Southampton  Huddersfield     1     1   D     1     0   H
3798  E0  12/05/19    Tottenham       Everton     2     2   D     1     0   H
3799  E0  12/05/19      Watford      West Ham     1     4   A     0     2   A

      ... BbMx>2.5  BbAv>2.5  BbMx<2.5  BbAv<2.5  BbAH  BbAHh  BbMxAHH  \
0     ...     2.04      1.92      1.91      1.81  21.0    0.0     1.28
1     ...     2.15      2.04      1.78      1.71  24.0    0.0     2.58
2     ...     2.25      2.12      1.70      1.66  23.0    0.0     1.68
3     ...     1.67      1.58      2.44      2.26  22.0    0.0     1.03
4     ...     2.20      2.06      1.77      1.70  24.0    0.0     2.27
...   ...      ...       ...       ...       ...   ...    ...      ...
3795  ...     9.48       NaN       NaN       NaN   NaN    NaN      NaN
3796  ...     9.71       NaN       NaN       NaN   NaN    NaN      NaN
3797  ...     8.49       NaN       NaN       NaN   NaN    NaN      NaN
3798  ...     4.15       NaN       NaN       NaN   NaN    NaN      NaN
3799  ...     3.41       NaN       NaN       NaN   NaN    NaN      NaN

      BbAvAHH  BbMxAHA  BbAvAHA
0        1.22     4.40     3.99
1        2.38     1.60     1.54
2        1.61     2.33     2.23
3        1.02    17.05    12.96
4        2.20     1.73     1.63
...       ...      ...      ...
3795      NaN      NaN      NaN
3796      NaN      NaN      NaN
3797      NaN      NaN      NaN
3798      NaN      NaN      NaN
3799      NaN      NaN      NaN

[3800 rows x 71 columns]
0       A
1       A
2       A
3       H
4       A
       ..
3795    H
3796    A
3797    D
3798    D
3799    A
Name: FTR, Length: 3800, dtype: object
     FTR  B365H  B365D  B365A  H_true  D_true  A_true
0      A   1.67   3.60   5.50       0       0       1
1      A   3.60   3.25   2.10       0       0       1
2      A   2.25   3.25   3.25       0       0       1
3      H   1.17   6.50  21.00       1       0       0
4      A   3.20   3.25   2.30       0       0       1
...   ..    ...    ...    ...     ...     ...     ...
3795   H   1.30   6.00  11.00       1       0       0
3796   A   1.28   6.50  11.00       0       0       1
3797   D   1.44   4.75   8.50       0       1       0
3798   D   2.20   3.50   3.50       0       1       0
3799   A   2.25   3.75   3.20       0       0       1

[3800 rows x 7 columns]
0        5.50
1        2.10
2        3.25
3        0.00
4        2.30
        ...
3795     0.00
3796    11.00
3797     0.00
3798     0.00
3799     3.20
Length: 3800, dtype: float64
3504.25
-295.75
-0.07782894736842105

In [18]:
# a. load PL data
pl = pd.read_csv('pl_all_seasons.csv')

# b. print PL data

print(pl)

print(pl.loc[:, 'FTR'])

# c. choose relevant data in df

df = pd.DataFrame(pl,  columns=['FTR', 'B365H', 'B365D', 'B365A'])

# d. add boolean of result Home, Draw, Away and then print df

df['H_true'] = df['FTR'].str.count("H")
df['D_true'] = df['FTR'].str.count("D")
df['A_true'] = df['FTR'].str.count("A")

print(df)

# e. multiply bolean of Draw (H_true) with B365 odds of draw to get each games return for you

return_H = ( df.loc[:, 'H_true'] * df.loc[:, 'B365H'] )

print(return_H)

# f. sum these individual returns to get you full season return

sum_return_H = return_H.sum()

print(sum_return_H)

#g. find the net return by subtracting the DKK 1 * 3800 games = DKK 3800 you have betted during the season to find your gain/loss

net_return_H = sum_return_H - 3800

print(net_return_H)

#g. find the return in percentage by dividing you gain with the DKK 1 * 3800 games = DKK 3800 you have betted during the season and subtract 1.

net_pct_returm_H = sum_return_H / 3800 - 1

print(net_pct_returm_H)

Div      Date     HomeTeam      AwayTeam  FTHG  FTAG FTR  HTHG  HTAG HTR  \
0     E0  15/08/09  Aston Villa         Wigan     0     2   A     0     1   A
1     E0  15/08/09    Blackburn      Man City     0     2   A     0     1   A
2     E0  15/08/09       Bolton    Sunderland     0     1   A     0     1   A
3     E0  15/08/09      Chelsea          Hull     2     1   H     1     1   D
4     E0  15/08/09      Everton       Arsenal     1     6   A     0     3   A
...   ..       ...          ...           ...   ...   ...  ..   ...   ...  ..
3795  E0  12/05/19    Liverpool        Wolves     2     0   H     1     0   H
3796  E0  12/05/19   Man United       Cardiff     0     2   A     0     1   A
3797  E0  12/05/19  Southampton  Huddersfield     1     1   D     1     0   H
3798  E0  12/05/19    Tottenham       Everton     2     2   D     1     0   H
3799  E0  12/05/19      Watford      West Ham     1     4   A     0     2   A

      ... BbMx>2.5  BbAv>2.5  BbMx<2.5  BbAv<2.5  BbAH  BbAHh  BbMxAHH  \
0     ...     2.04      1.92      1.91      1.81  21.0    0.0     1.28
1     ...     2.15      2.04      1.78      1.71  24.0    0.0     2.58
2     ...     2.25      2.12      1.70      1.66  23.0    0.0     1.68
3     ...     1.67      1.58      2.44      2.26  22.0    0.0     1.03
4     ...     2.20      2.06      1.77      1.70  24.0    0.0     2.27
...   ...      ...       ...       ...       ...   ...    ...      ...
3795  ...     9.48       NaN       NaN       NaN   NaN    NaN      NaN
3796  ...     9.71       NaN       NaN       NaN   NaN    NaN      NaN
3797  ...     8.49       NaN       NaN       NaN   NaN    NaN      NaN
3798  ...     4.15       NaN       NaN       NaN   NaN    NaN      NaN
3799  ...     3.41       NaN       NaN       NaN   NaN    NaN      NaN

      BbAvAHH  BbMxAHA  BbAvAHA
0        1.22     4.40     3.99
1        2.38     1.60     1.54
2        1.61     2.33     2.23
3        1.02    17.05    12.96
4        2.20     1.73     1.63
...       ...      ...      ...
3795      NaN      NaN      NaN
3796      NaN      NaN      NaN
3797      NaN      NaN      NaN
3798      NaN      NaN      NaN
3799      NaN      NaN      NaN

[3800 rows x 71 columns]
0       A
1       A
2       A
3       H
4       A
       ..
3795    H
3796    A
3797    D
3798    D
3799    A
Name: FTR, Length: 3800, dtype: object
     FTR  B365H  B365D  B365A  H_true  D_true  A_true
0      A   1.67   3.60   5.50       0       0       1
1      A   3.60   3.25   2.10       0       0       1
2      A   2.25   3.25   3.25       0       0       1
3      H   1.17   6.50  21.00       1       0       0
4      A   3.20   3.25   2.30       0       0       1
...   ..    ...    ...    ...     ...     ...     ...
3795   H   1.30   6.00  11.00       1       0       0
3796   A   1.28   6.50  11.00       0       0       1
3797   D   1.44   4.75   8.50       0       1       0
3798   D   2.20   3.50   3.50       0       1       0
3799   A   2.25   3.75   3.20       0       0       1

[3800 rows x 7 columns]
0       0.00
1       0.00
2       0.00
3       1.17
4       0.00
        ...
3795    1.30
3796    0.00
3797    0.00
3798    0.00
3799    0.00
Length: 3800, dtype: float64
3804.42
4.420000000000073
0.001163157894736866